/* components/Header.css */
.header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-left h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info span {
  color: #333;
}

.nav-right {
  display: flex;
  align-items: stretch; /* Stretch items to match nav height */
}

.nav-right p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  margin: 0;
  height: 100%; /* Match parent height */
  padding: 0 2rem; /* Adjust padding as needed */
  transition: background-color 0.3s ease;
}

.ranking-btn:hover {
  background-color: #5992cf;
  color: white;
}

.gacha-btn:hover {
  background-color: rgb(55, 178, 74);
  color: #ffffff;
}

.mypok-btn:hover {
  background-color: rgb(150, 92, 208);
  color: white;
}
