/* src/pages/PokemonDetail.css */
.pokemon-detail-container {
  max-width: 960px;
  padding: 1rem;
  margin: auto;
}

.pokemon-detail-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.pokemon-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.pokemon-image-section {
  text-align: center;
  align-items: center;
  margin: auto 20px;
}

.pokemon-image-section img {
  width: 100%;
  min-width: 200px;
  height: auto;
}

.pokemon-types {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.effectiveness-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-button {
  padding: 0.8rem 3.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.8s;
}

.nav-button:hover {
  background-color: #0056b3;
  color: white;
}

h3 {
  margin: 0;
}

/* 타입 뱃지 공통 스타일 */
.type-badge {
  padding: 4px 12px;
  border-radius: 4px;
  color: white;
  /* font-weight: bold; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 2px;
  display: inline-block;
}

/* 타입별 뱃지 색상 */
.type-badge.normal {
  background-color: #a8a878;
}
.type-badge.fire {
  background-color: #f08030;
}
.type-badge.water {
  background-color: #6890f0;
}
.type-badge.electric {
  background-color: #f8d030;
}
.type-badge.grass {
  background-color: #78c850;
}
.type-badge.ice {
  background-color: #98d8d8;
}
.type-badge.fighting {
  background-color: #c03028;
}
.type-badge.poison {
  background-color: #a040a0;
}
.type-badge.ground {
  background-color: #e0c068;
}
.type-badge.flying {
  background-color: #a890f0;
}
.type-badge.psychic {
  background-color: #f85888;
}
.type-badge.bug {
  background-color: #a8b820;
}
.type-badge.rock {
  background-color: #b8a038;
}
.type-badge.ghost {
  background-color: #705898;
}
.type-badge.dragon {
  background-color: #7038f8;
}
.type-badge.dark {
  background-color: #705848;
}
.type-badge.steel {
  background-color: #b8b8d0;
}
.type-badge.fairy {
  background-color: #ee99ac;
}
